In [1]:
dataset = pd.read_csv('Advertising_data.csv')

In [2]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
x=dataset.iloc[:,2:4]
y=dataset.iloc[:,4]

In [4]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [5]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=5)

In [7]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [8]:
from sklearn.svm import SVC
classifier = SVC(kernel='linear',random_state=0)
classifier.fit(x_train,y_train)

SVC(kernel='linear', random_state=0)

In [9]:
y_pred=classifier.predict(x_test)

In [10]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy=accuracy_score(y_test,y_pred)
confusion = confusion_matrix(y_test,y_pred)

In [11]:
accuracy

0.85

In [12]:
confusion

array([[60,  6],
       [ 9, 25]], dtype=int64)

In [13]:
from sklearn.model_selection import GridSearchCV
parameters = [{'C': [1, 10, 100, 1000], 'kernel': ['linear']},
              {'C': [1, 10, 100, 1000], 'kernel': ['rbf'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}]
grid_search=GridSearchCV(estimator=classifier,param_grid= parameters,scoring='accuracy',cv=10,n_jobs=-1)
grid_search=grid_search.fit(x_train,y_train)

In [14]:
accuracy=grid_search.best_params_
accuracy

{'C': 10, 'gamma': 0.3, 'kernel': 'rbf'}

In [15]:
accuracy=grid_search.best_score_
accuracy

0.9100000000000001

In [16]:
classifier=SVC(kernel='rbf',gamma=0.3)
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

In [17]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy=accuracy_score(y_test,y_pred)
confusion=confusion_matrix(y_test,y_pred)

In [18]:
accuracy

0.93

In [19]:
confusion

array([[61,  5],
       [ 2, 32]], dtype=int64)